<h1>Create Candy!</h1>
<form method="POST" action="./candies">
  <input type="text" class="form-control" name="name" placeholder="Candy name">
  <input type="text" class="form-control" name="color" placeholder="Candy color">
  <input type="submit" class="btn" value="Create!">
</form>